@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);

body,
html {
	min-width: $wrapperwidth;

	@include media(sp) {
		min-width: 100%;
	}

	@include mincho()
}

/* =======================
	Initialize
	======================================================= */

ul {
	margin: 0;
	padding: 0;
}

p {
	margin: 0 0 1rem;
	line-height: 1.8;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	@include fs(14);
	margin: 0;
}

a {

	text-decoration:none;
	transition: 0.2s ease-in-out;

	&:hover {
		transition: 0.3s ease-in-out;
	}
}

//font-size 初期値を10pxに設定
html {
	font-size: 62.5%;
}

body {
	font-family: "Open Sans", Helvetica, Arial, "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "メイリオ" , Meiryo , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro",	"ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
	@include fs(15);
	font-weight: 500;
	line-height: 1.6;
	font-smoothing: antialiased;
	box-sizing: border-box;

	@include media(sp) {
		@include fs(12);
		-webkit-text-size-adjust: 100%;
		word-wrap: break-word;
	}
}

.sample {
	@include fs(12);
}

/* =======================
	layout
	======================================================= */

.wrapper {
	width: $wrapperwidth;
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;

	@include media(sp) {
		width: 100%;
		word-wrap: break-word;
		padding-right: 10px;
		padding-left: 10px;
	}

	@include mediaov(wide) {
		// width: 100%;
	}
}


/* =======================
	header
	======================================================= */

.header {

	&__top {
		padding: 17px 0;
	}

	&__logo {
		width: 125px;
		float: left;
	}
	&__cologo {
		width: 180px;
		float: right;
		padding: 3px 0 0 ;
	}

	&__subnav {
		font-size: 0;
		float: right;
		margin: 0 15px 0 0;

		&__item {
			display: inline-block;
			vertical-align: top;
			@include mincho();
			@include fs(12);
			margin-left: 5px;
		}

	}
}

.mainnav {
	width: 1200px;
	margin: 0 auto;

	&::before {
		display: block;
		width: 100%;
		height: 3px;
		content: '';
		background:linear-gradient(90deg,#55bb95 0%,#55bb95 11%,#2a5caa 11%,#2a5caa 56%, #4c87c6 56%, #4c87c6 74%, #add57f 73%, #add57f 100%);
	}

	&__grp {
		display: table;
		table-layout: fixed;
		width: $wrapperwidth;
		margin: 10px auto;
	}
	&__item {
		display: table-cell;
		vertical-align: top;
		@include fs(13);
		@include mincho();

		&:nth-child(3) {
			@include fs(11);
		}
	}

	ul {
		li {
			border-left: 1px solid #1b95cd;

			&:last-child {
				border-right: 1px solid #1b95cd;
			}
		}
	}
}

/* =======================
	footer
	======================================================= */

/* =======================
	btn
	======================================================= */

.btn {
	display: table;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	color: #000;


	&--gray {
		background: #e6e6e6;
		color: #000;

		&:hover {
			background: #969696;
		}

	}
	&--mainnav {

		height: 26px;
		&:hover {
			background: #1b95cd;
			color: #fff;
		}


	}
	&--subnav {
		width: 94px;
		height: 37px;
	}
	&--contact {
		width: 150px;
		background: #e20514;
		height: 37px;
		color: #fff;

		&:hover {
			background: #b21b1b;
		}
	}

	&__label {
		display: table-cell;
		height: inherit;
		vertical-align: middle;
	}
}


/* =======================
	Hero
	======================================================= */
.hero {
	border-bottom: solid 3px #e20514;
}


/* =======================
	home
	======================================================= */



/* =======================
	title
	======================================================= */


/* =======================
	page top Btn
	======================================================= */

.widthfull {
	width: 100%;
	display: block;
	height: auto;
}
/* =======================
	status
	======================================================= */

	.merit {
		display: flex;
		justify-content: center;

		ul {
			list-style: none;
			margin-top: 32px;
			margin-bottom: 20px;
			padding-bottom: 18px;
			border-bottom: 1px solid #a8a4a5;


			li {
				.merit-details {
					display: flex;
					justify-content: center;
				}

				&:last-child {
					margin-top: 36px;
				}
			}
		}
	}

	.merit-lower {
		display: flex;
		justify-content: center;
		margin-bottom: 63px;

		button {
			margin: 0 6px;
			text-align: center;
			padding: 12px;
			color: #21ade5;
			background: #ffffff;
			font-size: 16px;
			border: 1px solid #21ade5;

			&:hover {
				transition: 0.3s ease-in-out;
				background: #21ade5;
				color: #ffffff;
			}
		}

		img {
			margin: 0 6px;
		}
	}

	.info-outer {
		display: flex;
		justify-content: center;
		margin-bottom: 361px;

		.info {
			display: grid;
			grid-template-columns: 661px 340px;

			.info-left {
				text-align: left;
				display: grid;

				#title {
					width: 100%;
					font-size: 20px;
					padding-bottom: 16px;
					border-bottom: 1px solid #a8a4a5;
					margin-bottom: 30px;
				}

				#big {
					font-size: 35px;
					margin-bottom: 15px;
				}

				ul {
					list-style: square;
					margin-left: 18px;
				}

				table, td {
					border: 1px solid #a8a4a5;
				}
	
				table {
					td {
						text-align: center;
					}
				}

				.smaller {
					font-size: 10px;

					&:last-child {
						margin-bottom: 18px;
					}
				}

				.info-left-bottom {
					margin-top: 26px;
					display: flex;
					justify-content: space-between;

					.info-left-bottom-left {
						border-left: 3px solid #21ade5;
						display: grid;

						span {
							padding-top: 0;
							padding-left: 4px;

							&:last-child {
								padding-top: 8px;
							}
						}
					}

					button {
						width: 186px;
						background: #21ade5;
						color: #ffffff;
						border: none;

						#center {
							text-align: center;
						}

						#right {
							float: right;
						}
					}
				}
			}

			.info-right {
				.info-right-top {
					border: 4px solid #1b95cd;
					display: grid;
					text-align: center;
					width: 254px;
					float: right;
					margin-top: 46px;

					span {
						font-size: 20px;
						padding: 8px;
						background: #1b95cd;
						color: #ffffff;
					}
				}

				.info-right-bottom {
					border: 4px solid #323232;
					display: grid;
					text-align: center;
					width: 254px;
					float: right;
					margin-top: 46px;

					.subImage {
						background: #323232;
						margin: 0;
						padding: 0;
						padding-top: 8px;
						height: 19px;

						img {
							background: #323232;
						}
					}

					span {
						font-size: 10px;
						padding: 8px;
						background: #323232;
						color: #ffffff;
					}
				}
			}
		}
	}

	.red {
		color: #e20514;
	}

	.blue {
		color: #1b95cd;
	}

	.smallDetails-outer {
		display: flex;
		justify-content: center;
		margin-bottom: 30px;

		.smallDetails {
			display: grid;
			grid-template-columns: 1000px;

			span {
				font-size: 10px;
			}
		}
	}

	.companyBanner {
		text-align: center;
		position: relative;
		background: #f6f6f6;
		width: 100%;
		margin-bottom: 8px;
	}
	

	.companyBanner:before, .companyBanner::after {
		background: linear-gradient(to right, #55bb95 10%,#2a5caa 10%, #2a5caa 50%, #4c87c6 50%, #4c87c6 75%, #add57f 75%);
		position: absolute;
		content: '';
		height: 4px;
		right: 0;
		left: 0;
		top: 0;
	}

	.companyBanner-inner {
		width: 850px;
		display: inline-block;
		justify-content: center;
		margin: 66px 0;
	}

	.companyBanner-left {
		background-repeat:no-repeat;
   	background-size:contain;
		width: 400px;
		height: 450px;
		float: left;
		
		img {
			margin-top: 30px;
			margin-bottom: 30px;
		}

		span {
			font-size: 14px;
		}

		#bluer {
			font-size: 22.61px;
			color: #1e50a1;
			font-weight: bold;
		}

		button {
			padding: 14px;
			color: #ffffff;
			background: #3d68ad;
			opacity: 0.9;
			border: none;
			width: 300px;
			margin-top: 36px;
		}
	}

	.companyBanner-right {
		float: right;
	}

	.lower-mainnav {
		width: 100% !important;
	}

	.top-footer {
		padding-bottom: 26px;
		margin-bottom: 20px;
		border-bottom: 1px solid black;

		#contact, #companies, #row-companies {
			margin-top: 56px;
			width: 100%;
			display: flex;
			justify-content: center;
		}

		#companies {
			img {
				margin: 30px 60px;
			}
		}
	}

	.top-rights {
		font-size: 13px;
		text-align: center;
		margin-bottom: 20px;
		font-weight: bold;
	}
