/* ===== Module =============================================
   Author:
   ==================================================================== */

/* ==========================================================================
   Module
   ========================================================================== */
.mauto {
    margin-right: auto !important;
    margin-left: auto !important;
}

$num: 1px;

@for $value from 0 through 100 {
  .mall#{$value } {
    margin: $num * $value !important;

    @include media(sp) {
      margin: round($num * $value/2) !important;
    }
  }
}

@for $value from 0 through 100 {
  .mt#{$value } {
    margin-top: $num * $value !important;

    @include media(sp) {
      margin-top: round($num * $value/2) !important;
    }
  }
}
@for $value from 0 through 100 {
  .mb#{$value} {
    margin-bottom: $num * $value !important;

    @include media(sp) {
      margin-bottom: round($num * $value/2) !important;
    }
  }
}
@for $value from 0 through 100 {
  .mr#{$value} {
    margin-right: $num * $value !important;

    @include media(sp) {
      margin-right: round($num * $value/2) !important;
    }
  }
}
@for $value from 0 through 100 {
  .ml#{$value} {
    margin-left: $num * $value !important;

    @include media(sp) {
      margin-left: round($num * $value/2) !important;
    }
  }
}

/*--------------------
 *    padding
 *--------------------*/

@for $value from 0 through 100 {
  .pall#{$value } {
    padding: $num * $value !important;

    @include media(sp) {
      padding: round($num * $value/2) !important;
    }
  }
}

@for $value from 0 through 100 {
  .pt#{$value } {
    padding-top: $num * $value !important;

    @include media(sp) {
      padding-top: round($num * $value/2) !important;
    }
  }
}
@for $value from 0 through 100 {
  .pb#{$value} {
    padding-bottom: $num * $value !important;

    @include media(sp) {
      padding-bottom: round($num * $value/2) !important;
    }
  }
}
@for $value from 0 through 100 {
  .pr#{$value} {
    padding-right: $num * $value !important;

    @include media(sp) {
      padding-right: round($num * $value/2) !important;
    }
  }
}
@for $value from 0 through 100 {
  .pl#{$value} {
    padding-left: $num * $value !important;

    @include media(sp) {
      padding-left: round($num * $value/2) !important;
    }
  }
}

/*	font-size
------------------------------------*/
@for $value from 10 through 100 {
  .fs#{$value} {
    @include fs($value);
    @include calc_fs_sp($value);
  }
}

/*	text lifter
------------------------------------*/
.bold {
  font-weight: bold;
}
.fwnormal {
  font-weight: normal;
}

.txtc {
	text-align: center;
}
.txtl {
	text-align: left;
}
.txtr{
	text-align: right;
}

/*  Movie Responsive
------------------------------------*/
.movie {
    position: relative;
     width: 100% !important;
     padding: 56.25% 0 0 0;
  }
.movie iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*	float
------------------------------------*/
.fleft { float: left; }
.fright { float: right;}
.fclear { clear:both;}

/*	clearfix
------------------------------------*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}