.people_walking{
    position: relative;
    width: 100%;
}
.access_banner{
    position:absolute;
    top: 35%;
    right: 19.6%;
}

.bigwords {
    margin-top: 114px;
}

.smallwords {
    margin-top: 25px;
    margin-bottom: 137px;
}

.access_explain {
    color: #1b95cd;
    font-size:33px;
    text-align: center;
    font-weight: 100;
    line-height: 53px;
}

.access_explain2 {
    font-size: 17px;
    text-align: center; 
    line-height: 45px;
}

.train {
    margin-bottom: 89px;
    width: 100%;
    height:auto;
}

.map {
    text-align: center;
    width: 70%;
    height: auto;
    margin-bottom: 74px;
}

.map_description{
    text-align: center;
    line-height: 44px;
}

.station_info_01 {
    margin-top: 117px;
    width: 100%;
    height: auto;
}

.station_info_02 {
    margin-top: 71px;
    margin-bottom: 45px;
    width: 100%;
    height: auto;
}

.ereas {
    font-size: 0px;
    text-align: center;
}

.shinjuku {
    display: inline-block;
    margin-right:25px;
}

.shibuya {
    display: inline-block;
    margin-right:25px;
}

.otemachi {
    display: inline-block;
    margin-right:25px;
}

.area_info {
    margin-top: 79px;
    text-align: center;
    line-height: 37px;
}

.simulation{
    margin-top: 137px;
}

.simulation_02{
    margin-top: 164px;
    margin-bottom: 150px;
}

.station_form {
    display: inline-block;    
    font-size: 17px;
}

.arrows {
 display: inline-block;
}

.route {
 font-size: 25px;
 background-color: #1b95cd;
 color: #fff;
 text-align: center;
 line-height: 50px;
 margin-top: -4px;
}

.route_des {
    font-size: 15 px;
    text-align: center;
    margin-top: 30px;
    line-height: 15px;
    margin-bottom: 33px;
}

.route_form {
    border: 4px solid #1b95cd;
}

.station_form_parent {
    text-align: center;
}

.result_button {
    background-color: #cd0012;
    width: 244px;
    text-align: center;
    border-radius: 12px;
    margin: 0 auto;
}

.result_title {
    text-decoration: none;
    color: #fff;
}

.access_select {
    width: 130px;
}