@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);

body,
html {
	min-width: $wrapperwidth;

	@include media(sp) {
		min-width: 100%;
	}
}

/* =======================
	Initialize
	======================================================= */

ul {
	margin: 0;
	padding: 0;
}

.header__subnav{
	display:none;
}

p {
	margin: 0 0 1rem;
	line-height: 1.8;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	@include fs(14);
	margin: 0;
}

a {

	text-decoration:none;
	transition: 0.2s ease-in-out;

	&:hover {
		transition: 0.3s ease-in-out;
	}
}

//font-size 初期値を10pxに設定
html {
	font-size: 62.5%;
}

body {
	font-family: "Open Sans", Helvetica, Arial, "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "メイリオ" , Meiryo , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro",	"ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
	@include fs(15);
	font-weight: 500;
	line-height: 1.6;
	font-smoothing: antialiased;
	box-sizing: border-box;

	@include media(sp) {
		@include fs(12);
		-webkit-text-size-adjust: 100%;
		word-wrap: break-word;
	}
}

.sample {
	@include fs(12);
}

/* =======================
	layout
	======================================================= */

.wrapper {
	width: $wrapperwidth;
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;

	@include media(sp) {
		width: 100%;
		word-wrap: break-word;
		padding-right: 10px;
		padding-left: 10px;
		box-sizing: border-box;
	}

	@include mediaov(wide) {
		// width: 100%;
	}
}


/* =======================
	header
	======================================================= */

.header {

	&__top {
		padding: 17px 0;
	}

	&__logo {
		width: 125px;
		float: left;
	}
	&__cologo {
		width: 180px;
		float: right;
		padding: 3px 0 0 ;
	}

	&__subnav {
		font-size: 0;
		float: right;
		margin: 0 15px 0 0;

		&__item {
			display: inline-block;
			vertical-align: top;
			@include mincho();
			@include fs(12);
			margin-left: 5px;
		}

	}
}

.mainnav {
	width: 1000px;;
	margin: 0 auto;

	&::before {
		display: block;
		width: 100%;
		height: 3px;
		content: '';
		background:linear-gradient(90deg,#55bb95 0%,#55bb95 11%,#2a5caa 11%,#2a5caa 56%, #4c87c6 56%, #4c87c6 74%, #add57f 73%, #add57f 100%);
	}

	&__grp {
		display: table;
		table-layout: fixed;
		width: $wrapperwidth;
		margin: 10px auto;
		@include media(sp) {
			width: 100%;
			display: block;
			height: auto;
			-webkit-text-size-adjust: 100%;
			word-wrap: break-word
		}
	}
	&__item {
		display: table-cell;
		vertical-align: top;
		@include fs(13);
		@include mincho();

		&:nth-child(3) {
			@include fs(11);
		}
	}

	@include media(sp) {
		width: 100%;
		display: none;
		height: auto;
		-webkit-text-size-adjust: 100%;
		word-wrap: break-word
	}
}

/* =======================
	footer
	======================================================= */

/* =======================
	btn
	======================================================= */

.btn {
	display: table;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	color: #000;


	&--gray {
		background: #e6e6e6;
		color: #000;

		&:hover {
			background: #969696;
		}

	}
	&--mainnav {

		height: 26px;
		&:hover {
			background: #1b95cd;
			color: #fff;
		}


	}
	&--subnav {
		width: 94px;
		height: 37px;
	}
	&--contact {
		width: 150px;
		background: #e20514;
		height: 37px;
		color: #fff;

		&:hover {
			background: #b21b1b;
		}
	}

	&__label {
		display: table-cell;
		height: inherit;
		vertical-align: middle;
	}
}


/* =======================
	Hero
	======================================================= */
.hero {
	border-bottom: solid 3px #e20514;
}

.building-info1{
	text-align: center;
	margin-top:29px;
}

.building-info1 img{
	@include media(sp) {
		width: 100%;
		display: block;
		height: auto;
		-webkit-text-size-adjust: 100%;
		word-wrap: break-word
	}
}

.building-info2{
	text-align: center;
	margin-top: 25px; 
}


.building-info2 img{
	@include media(sp) {
		width: 100%;
		display: block;
		height: auto;
		-webkit-text-size-adjust: 100%;
		word-wrap: break-word
	}
}

.building-info3{
	text-align: center;
	margin-top: 35px; 
}

.building-info3 img{
	@include media(sp) {
		width: 100%;
		display: block;
		height: auto;
		-webkit-text-size-adjust: 100%;
		word-wrap: break-word
	}
}

.building-info5{
	margin-top: 20px; 
}

.building-info6{
	border-bottom:1px solid #a8a4a5;
}

.building-info5 img{
	@include media(sp) {
		width: 100%;
		display: block;
		height: auto;
		-webkit-text-size-adjust: 100%;
		word-wrap: break-word
	}
}

// model room

.second_section{
 	@include clearfix();
}

.modelroom_left{
	@include media(sp) {
		width: 100%;
		display: block;
	}
	width:70%;
	float:left;
}

.modelroom_right{
	@include media(sp) {
		width: 100%;
		display: block;
		text-align: center;
	}
	margin-top:113px;
	width:auto;
	float:right;
}

.building-info6{
	@include mincho();
	@include fs(23);
	margin-top: 63px; 
} 

.building-border1{
	margin-top: 0px; 
} 

.building-border2{
	margin-top: -25px; 
}  

.modelroom_info1{
	width:auto;
	@include mincho();	
}

.modelroom_info2{
	width:auto;
	@include mincho();	
	@include fs(13);
}

.model_text{
	@include fs(40);
}

.model_yoyaku{
	@include fs(26);
}

// table section 

table {
	width:100%;
	border-collapse: collapse;text-align: center;
	@include fs(14);
}

td {
	border: solid 1px;
}

 .circle{
	color: #e20514;
 } 

.triangle{
	color:#1b95cd
}

.seat_info{
	@include fs(12);
	margin-left: 5px;
}

.specific_detail{
	@include fs(10);
}

.specific_image{
	width: 100%;
}

//more info
.more_info_section{
	@include clearfix();
}

.yugu_info{
	float:left;
}

.blue_kuwashikuha{
	@include media(sp) {
		text-align:center;
	}
}

.child_parent{
	@include media(sp) {
		display:inline-block;
	}
}

.blue_button{
	@include clearfix();
	float:right;
	background-color: #21ade5;
	width:185px;
	height:45px;
	text-align: center;
	padding-top:12px;
	@include media(sp){
		margin-top:30px;
	}
}

.kuwashikuha{
	float:left;
	color:#fff;
	@include fs(14);
	padding-left: 43px;
	padding-top:3px; 
	@include mincho();
}

.arrow{
	float:right;
	color:#fff;
	padding-top:3px;
	margin-right:14px;
	font-weight:100;
}

// yugu_sectino
.yugu_info{
	border-left:solid 2px #21ade5;
	margin-top:26px;
}

.yoyaku_title{
	margin-top:20px;
}

.yugu_info_child{
	padding-left:14px;
}

.info_specific{
	margin-top:365px;
}

// Advertisement

.colorful_border{
	height: 5px;
	
	width: 100%;
	
}

.advertisement_section{
	margin-top: 65px;
	text-align: center;
	margin-bottom:65px;
	font-size: 0;
}

.meitsu{
	@include media(sp) {
		width: 100%;
	}
}

.mom{
	@include media(sp) {
		width: 100%;
	}
}

.contact_number{
	@include media(sp) {
		width: 100%;
	}
}

.big_banner1{
	display:inline-block;
	margin-right:50px;
	@include media(sp) {
		margin-right:0px;
	}
}

.big_banner2{
	display:inline-block;
}

// third section

.thirdsection{
	text-align: center;
	margin-top: 60px;
}

.logos{
	margin-top:25px;
	@include media(sp) {
		width: 100%;
	}
}

.copy_right{
	@include media(sp) {
		width: 100%;
	}
}

.mainnav2 {
	width: 1000px;
	margin: 0 auto;


	&__grp {
		display: table;
		table-layout: fixed;
		width: $wrapperwidth;
		margin: 10px auto;
	}
	&__item {
		display: table-cell;
		vertical-align: top;
		@include fs(13);
		@include mincho();

		&:nth-child(3) {
			@include fs(11);
		}
	}
	@include media(sp) {
		display: none;
	}
}

// footer
.footer_image{
	text-align: center;
	margin-top:50px;
	margin-bottom:24px;
}

.footer_pic{
	@include media(sp) {
		width: 100%;
	}
}

.footer_border{
	margin-top:24px;
	margin-bottom:20px;
	height:1px;
	width: 100%;
}


/* =======================
	home
	======================================================= */



/* =======================
	title
	======================================================= */


/* =======================
	page top Btn
	======================================================= */

.widthfull {
	width: 100%;
	display: block;
	height: auto;
}
/* =======================
	status
	======================================================= */

