@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);

body,
html {
	min-width: $wrapperwidth;

	@include media(sp) {
		min-width: 100%;
	}
}

/* =======================
	Initialize
	======================================================= */

ul {
	margin: 0;
	padding: 0;
}

p {
	margin: 0 0 1rem;
	line-height: 1.8;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	@include fs(14);
	margin: 0;
}

a {

	text-decoration:none;
	transition: 0.2s ease-in-out;

	&:hover {
		transition: 0.3s ease-in-out;
	}
}

//font-size 初期値を10pxに設定
html {
	font-size: 62.5%;
}

body {
	font-family: "Open Sans", Helvetica, Arial, "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "メイリオ" , Meiryo , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro",	"ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
	@include fs(15);
	font-weight: 500;
	line-height: 1.6;
	font-smoothing: antialiased;
	box-sizing: border-box;

	@include media(sp) {
		@include fs(12);
		-webkit-text-size-adjust: 100%;
		word-wrap: break-word;
	}
}

.sample {
	@include fs(12);
}

/* =======================
	layout
	======================================================= */

.wrapper {
	width: $wrapperwidth;
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;

	@include media(sp) {
		width: 100%;
		word-wrap: break-word;
		padding-right: 10px;
		padding-left: 10px;
		box-sizing: border-box;
	}

	@include mediaov(wide) {
		// width: 100%;
	}
}

/* =======================
	header
	======================================================= */

.header {

	&__top {
		padding: 17px 0;

		@include media(sp) {
			padding: 20px 0 20px;
			text-align: center;
		}
	}

	&__logo {
		width: 125px;
		float: left;

		@include media(sp) {
			float: none;
			display: inline-block;
		}
	}
	&__cologo {
		width: 180px;
		float: right;
		padding: 3px 0 0 ;

		@include media(sp) {
			display: none;
		}
	}

	&__subnav {
		font-size: 0;
		float: right;
		margin: 0 15px 0 0;
		
		@include media(sp) {
			display: none;
		}

		&__item {
			display: inline-block;
			vertical-align: top;
			@include mincho();
			@include fs(12);
			margin-left: 5px;
		}

	}
}

.mainnav {
	width: 1200px;
	margin: 0 auto;

	@include media(sp) {
		display: none;
	}

	&::before {
		display: block;
		width: 100%;
		height: 3px;
		content: '';
		background:linear-gradient(90deg,#55bb95 0%,#55bb95 11%,#2a5caa 11%,#2a5caa 56%, #4c87c6 56%, #4c87c6 74%, #add57f 73%, #add57f 100%);
	}

	&--inbottom {
		&::before {
			display: none;
		}
	}

	&__grp {
		display: table;
		table-layout: fixed;
		width: $wrapperwidth;
		margin: 10px auto;
	}
	&__item {
		display: table-cell;
		vertical-align: top;
		@include fs(13);
		@include mincho();

		&:nth-child(3) {
			@include fs(11);
		}

		&:first-childe::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 26px;
			border-right: 1px solid #328a24;
			display: inline-block;
			vertical-align: top;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 0;
			height: 26px;
			border-right: 1px solid #328a24;
			display: inline-block;
			vertical-align: top;
		}
	}
}

/* =======================
	footer
	======================================================= */

/* =======================
	btn
	======================================================= */

.btn {
	display: table;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	color: #000;


	&--gray {
		background: #e6e6e6;
		color: #000;

		&:hover {
			background: #969696;
		}

	}
	&--mainnav {

		height: 26px;
		overflow: hidden;
		box-sizing: border-box;

		&:hover {
			background: #1b95cd;
			color: #fff;
		}

		.mainnav__item--tsutaya & {
			padding: 0 5px 0;

			.tsutayabtn {
				display: block;
				&--ov {
					display: none;
				}
			}
		}

		&:hover {
			.tsutayabtn {
				display: none;
				&--ov {
					display: none;
				}
			}
		}
	}
	&--subnav {
		width: 94px;
		height: 37px;
	}
	&--contact {
		width: 150px;
		background: #e20514;
		height: 37px;
		color: #fff;

		&:hover {
			background: #b21b1b;
		}
	}

	&--detail {
		width: 185px;
		height: 46px;
		background: #328a24;
		color: #fff;
		@include fs(14);

		&:hover {
			background:  #328a24;
			color: #fff;
		}
	}

	&__label {
		display: table-cell;
		height: inherit;
		vertical-align: middle;
	}
}


/* =======================
	Hero
	======================================================= */
.hero {
	border-bottom: solid 3px #e20514;
}

/* =======================
	Index_Images
	======================================================= */
.index_img{
	text-align: center;
	padding: 0 0 18px;
	border-bottom:  1px solid #328a24;

	img {
		vertical-align: top;

		@include media(sp) {
			width:  100%;
			height: auto;
		}
	}
}

.detail_text_01 {
	margin:  32px 0 20px;
}

.detail_text_02 {
	margin:  0 0 38px;
}

.home__price {
	padding:  15px 0 62px;
	text-align: center;

	@include media(sp) {
		img {
			width: 100%;
			height: auto;
		}
	}
}

.index_img ul li {
	text-align: center;
	list-style: none;
}

.detail_text_03 {
	margin-top: 25px;
	border-bottom: 1px solid gray;
}

.detail_text_02 {
	margin-top: 15px;
}

.img_hr {
	width: 1080px;
	margin-top: 1.5em;
	color: gray;
}

.info_div {
	@include clearfix();
}

.info__area {
	float: left;
	width: 661px;

	@include media(sp) {
		width: 100%;
		float: none;
	}
}

.info_hr {
	width: 70%;
	float: left;
}

.banner {
	width: 20%;
	float: right;
	margin-top: 95px;
}

.banner ul li {
	list-style: none;
	padding-bottom: 10px;
}

table {
	width: 100%;
	border: 1px solid gray;
}

table, th, td {
	border: 1px solid gray;
	text-align: center;
	font-weight: bold;
}

.info_text {
	@include mincho();
	@include fs(23);
	font-weight: normal;
	letter-spacing: 2px;
	line-height: 1;
	padding: 0 0 16px;
	border-bottom: 1px solid gray;
}

.info__body {
	@include mincho();
	padding:  28px 0 0;
	@include fs(13);

	@include media(sp) {
		padding: 15px 0 20px;
	}
}

.heading_1 {
	@include fs(40);
	margin: 0 0 10px;
	line-height: 1;

	@include media(sp) {
		@include fs(20);
	}

	&__child {
		@include fs(26);
		@include media(sp) {
			@include fs (16);
		}
	}
}

.label_02 {
	@include fs(14);
	font-weight: normal;
	line-height: 1;
	margin: 0 0 10px;
	&::before {
		content: '';
		width: 12px;
		height: 12px;
		background: #328a24;
		display: inline-block;
		vertical-align: middle;
		margin: 0 12px 0 0;
	}
}

.info_table {
	@include mincho();
	text-align: center;
	width: 100%;
	@include fs(14);
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	tr {
		border-bottom: 1px solid gray;
	}
	th {
		font-weight: normal;
		line-height: 25px;
		border-left: 1px solid gray;
	}
	td {
		line-height: 25px;
		border-left: 1px solid gray;
	}
}

.annotation {
	@include fs(10);
}

.info_option {
	@include clearfix();
	height: 46px;
	box-sizing: border-box;
	border-left: 3px solid #328a24;

	@include media(sp) {
		margin: 0 0 10px;
		text-align: center;
	}

	&__text {
		float: left;
		display: inline-block;
		vertical-align: top;
		padding: 3px 0 3px 8px;

		@include media(sp) {
			text-align: left;
		}
	}
	&__btn {
		float: right;

		@include media(sp) {
			float: none;
			display: inline-block;
			text-align: center;
			margin: 10px 0 0;
		}
	}
}

.banner__area {
	float: right;
	padding: 40px 0 0 0;
}

.banner__grp {

	@include media(sp) {
		font-size: 0;
	}
}

.banner__item {
	display: block;
	margin: 0 0 20px;

	@include media(sp) {
		display: inline-block;
		vertical-align: top;
		width: 49.5%;

		margin: 0 1% 0 0;
		&:nth-child(2n+2) {
			margin-right: 0;
		}
		img {
			width: 100%;
			height: auto;
			vertical-align: top;
		}
	}

	img {
		vertical-align: top;
	}
}

.container {
	width: 100%;
}
  
.circle {
	color: #e20514;
} 

.triangle {
	color: #21ade5;
}

.notice_div {
	@include mincho();
	@include fs(12);
	font-weight: bold;
}

.footer_text {
	margin-top: 5px;
	font-weight: bold;
}

.footer_text_01 {
	@include mincho();
	@include fs(10);
}

.ads_text_parent {
	margin-top: 15px;
}

.footer_text_02 {
	@include mincho();
	@include fs(16);
	border-left: 2px solid #21ade5;
	display: inline-block;
	vertical-align: top;
}

input[type="submit"] {
	border: 0;
	background: #21ade5;
	box-shadow: blue;
	border-radius: 0px;
	color: white;
	padding: 8px;
	width: 2.57in;
	height: 0.5in;
   
   }
   
.inp_btn {
	display: inline-block;
	vertical-align: top;
	float: right;
}

.addition_info {
	@include mincho();
	@include fs(10);
	margin-top: 5.83in;
	width: 100%;
}

.box {
	width: 100%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 20px;

	&::before {
		display: block;
		width: 100%;
		height: 5px;
		content: '';
		background:linear-gradient(90deg,#55bb95 0%,#55bb95 11%,#2a5caa 11%,#2a5caa 56%, #4c87c6 56%, #4c87c6 74%, #add57f 73%, #add57f 100%);
	}
}

.ads {
	background: #f6f6f6;
	position: relative;
	padding: 80px 0 76px;

	@include media(sp) {
		padding: 40px 0;
	}

	&::before {
		position: absolute;
		top: 10px;
		left: 0;
		display: block;
		width: 100%;
		height: 3px;
		content: '';
		background: linear-gradient(90deg,#55bb95 0%,#55bb95 11%,#2a5caa 11%,#2a5caa 56%, #4c87c6 56%, #4c87c6 74%, #add57f 73%, #add57f 100%);
	}

	&::after {
		position: absolute;
		bottom: 10px;
		left: 0;
		display: block;
		width: 100px;
		height: 3px;
		content: '';
		background: linear-gradient(90deg,#55bb95 0%,#55bb95 11%,#2a5caa 11%,#2a5caa 56%, #4c87c6 56%, #4c87c6 74%, #add57f 73%, #add57f 100%);
	}
}

.brand__bnr__grp {
	font-size: 0;
	text-align: center;
}

.brand__bnr__item {
	display: inline-block;
	vertical-align: top;
	margin: 0 25px;

	@include media(sp) {
		margin: 0 0 10px;
		padding: 0 10px;
		box-sizing: border-box;
		width: 50%;

		img {
			width: 100%;
			height: auto;
		}
	}
}

.fontgothic {
	@include gothic();
}

.clearfix {
	width:1040px;
	margin:0 auto;
}

.rollover {
	background: #000;
	display: block;

	&:hover {

		img {
			opacity: .8;
			transition: .3s ease-in-out;
		}
	}
	img {
		transition: .2s ease-in-out;
	}
}

.call_div {
	text-align: center;
	padding-top: 62px 0 26px;

	@include media(sp) {
		@include spmargin();
	}

	img {
		@include media(sp) {
			width: 100%;
			height: auto;
		}
	}
}

.call_text_01 span{
	@include mincho();
	@include fs(16);
	font-weight: bolder;
}

.call_num {
	@include mincho();
	@include fs(42);
	font-weight: 300;
	line-height: 1;
	margin-left: 5px;
}

.call_time {
	@include mincho();
	@include fs(15);
	font-weight: bold;
	text-align: left;
	display: inline-block;
	vertical-align: top;
	line-height: 1.4;
	margin-left: 10px;
}

.call_num_div {
	display: inline-block;
	vertical-align: top;
}

.call_parent {
	text-align: center;
}

.logo_cont {
	font-size: 0;
	text-align: center;

	@include media(sp) {
		@include spmargin();
	}
}

.logo__item {
	display: inline-block;
	vertical-align: top;
	margin: 0 29px;

	@include media(sp) {
		width: 32%;
		margin: 0 2% 0 0;

		&:last-child {
			margin-right: 0;
		}
	}

	img {
		width: 100%;
		height: auto;
		vertical-align: top;
	}
}

.footer_ads {
	text-align: center;
	margin-top: 20px;
}

.copyright {
	@include fs(13);
	width: 100%;
	border-top: 1px solid #000;
	margin: 30px 0 0;
	line-height: 54px;
	box-sizing: border-box;
	text-align: center;

	@include media(sp) {
		@include fs(8);
		line-height: 1.5;
		padding: 10px 0;
		height: auto;
	}
}

.footer_hr {
	border: 1px solid black;
}
/* =======================
	home
	======================================================= */



/* =======================
	title
	======================================================= */


/* =======================
	page top Btn
	======================================================= */

.widthfull {
	width: 100%;
	display: block;
	height: auto;
}
/* =======================
	status
	======================================================= */

/* =======================
	access
	======================================================= */
.access {
	@include clearfix();
	position: relative;

	&__watermark {
		z-index: 3;
		color: #000;
	}
}

.access_img {
	position: absolute;
  	left: -100px;
  	z-index: 1;
}

.access_page_text {
	position: absolute;
	background: #1b95cd;
	left: 611px;
	top: 87px;
	padding: 50px;
	width: 370px;
	height: 265px;
	z-index: 2;
	text-align: center;
	margin: auto;
	color: #ffffff;
	box-sizing: border-box;

	&__jap {
		@include fs(30);
		border-bottom: 1px solid #ffffff;
		margin: 25px 0 0 0;
	}

	&__en {
		@include fs(28);
	}
}

.access_3rd_layer {
	z-index: -1;
	background: #d1eaf5;
	position: absolute;
	height: 265px;
	width: 1200px;
	top: 217px;
	left: -100px;
}

.access_text_section {
	margin: 590px auto 150px;
	text-align: center;

	&--first_text {
		@include mincho();
		@include fs(33);
		color: #1b95cd;
	}
	&--second_text {
		@include fs(17);
	}
}

.train_area {
	width: 1200px;
	margin: 0 auto;

	&__image {
		position: absolute;
		z-index: -1;
	}

	&__body {
		z-index: 1;
		width: 600px;
		height: 528px;
		background: #1b95cd;
		text-align: center;
		float: right;
		margin: auto;
		color: #fff;
	}

	&__title {
		@include fs(28);
		margin: 210px 0 0 0;
	}

	&__content {
		@include fs(15);
	}
}

.graph_area {
	text-align: center;
	width: 1200px;

	&__draw {
		margin: 52px 0 52px 0;
	}

	&__text {
		@include fs(17);
		line-height: 3;
	}

	&__images {
		text-align: left;
		width: 924px;
		margin: 68px auto;
	}

	&__details_img_02 {
		margin: 56px 0 0 0;
	}

	&__skyscraper_area {
		margin: 40px auto;
	}

	&__skyrise_center {
		padding: 0 24px;
		z-index: -1;
	}

	&__skyrise_left {
		z-index: -1;
	}

	&__skyrise_right {
		z-index: -1;
	}

	&__skyscraper__text {
		text-align: center;
		position: absolute;
		z-index: 1;
		margin: 150px 15px 15px 5px;
		background: #edebef;
		padding: 10px;
		@include fs(36);
		opacity: 0.7;
		width: 270px;
		box-sizing: border-box;
	}
}

.image_center {
	margin-left: 29px;
}

.skycraper_details_text {
	@include fs(17);
}

.skycraper_header_text {
	@include fs(29);
	margin: 100px auto;
}

.chart_area {
	margin: -80px auto auto;
}

.option {
	margin: 150px;
}

.access_footer_text {
	@include fs(10);
}

.access_footer_area {
	display: inline-block;
	vertical-align: top;
	margin: 15px auto;

	&__img_02 {
		margin-left: 349px;
	}
}

.access_footer_ads {
	text-align: center;
	border-bottom: 1px solid black;
}

.access_copyright {
	@include fs(13);
	text-align: center;
	padding: 10px;
	vertical-align: top;
}