/* ===== scss settings =============================================
   Author:
   ==================================================================== */

// ----------------------------------------------------------------------
// color
// ----------------------------------------------------------------------

$colorbase: #f1f3f3; //
$colormain: #005bac; //
$colorsub: #aaabab; //
$coloraccent: #328a24; //

// ----------------------------------------------------------------------
// width
// ----------------------------------------------------------------------

$wrapperwidth: 1000px;

