<p>front page</p>

<a href="/alberca/">alberca</a>
<br>
<a href="/vani-residence/">vani</a>
<br>
<a href="/kiuchi_residence/">Kiuchi</a>
<br>
<<<<<<< HEAD
<a href="/soma_project/access.html" class="btn btn--mainnav"><span class="btn__label">アクセス</span></a>
=======
<a href="/borbon/">Borbon</a>
>>>>>>> 9270c2b91c4d1e1895d9f57808bda58107eb0b91

