@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);

body,
html {
	min-width: $wrapperwidth;

	@include media(sp) {
		min-width: 100%;
	}
}

/* =======================
	Initialize
	======================================================= */

ul {
	margin: 0;
	padding: 0;
}

p {
	margin: 0 0 1rem;
	line-height: 1.8;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	@include fs(14);
	margin: 0;
}

a {

	text-decoration:none;
	transition: 0.2s ease-in-out;

	&:hover {
		transition: 0.3s ease-in-out;
	}
}

//font-size 初期値を10pxに設定
html {
	font-size: 62.5%;
}

body {
	font-family: "Open Sans", Helvetica, Arial, "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "メイリオ" , Meiryo , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro",	"ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
	@include fs(15);
	font-weight: 500;
	line-height: 1.6;
	font-smoothing: antialiased;
	box-sizing: border-box;

	@include media(sp) {
		@include fs(12);
		-webkit-text-size-adjust: 100%;
		word-wrap: break-word;
	}
}


/* =======================
	layout
	======================================================= */

.wrapper {
	width: $wrapperwidth;
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;

	@include media(sp) {
		width: 100%;
		word-wrap: break-word;
		padding-right: 10px;
		padding-left: 10px;
		box-sizing: border-box;
	}

	@include mediaov(wide) {
		// width: 100%;
	}
}

/* =======================
	header
	======================================================= */

.header {

	&__top {
		padding: 17px 0;

		@include media(sp) {
			padding: 20px 0 20px;
			text-align: center;
		}
	}

	&__logo {
		width: 125px;
		float: left;

		@include media(sp) {
			float: none;
			display: inline-block;
		}
	}
	&__cologo {
		width: 180px;
		float: right;
		padding: 3px 0 0 ;

		@include media(sp) {
			display: none;
		}
	}

	&__subnav {
		font-size: 0;
		float: right;
		margin: 0 15px 0 0;

		@include media(sp) {
			display: none;
		}
		&__item {
			display: inline-block;
			vertical-align: top;
			@include mincho();
			@include fs(12);
			margin-left: 5px;
		}

	}
}

.mainnav {
	width: $wrapperwidth;
	margin: 0 auto;
	position: relative;

	@include media(sp) {
		display: none;
	}

	&::before {
		position: absolute;
		top: -10px;
		left: -100px;
		display: block;
		width: 1200px;
		height: 3px;
		content: '';
		background:linear-gradient(90deg,#55bb95 0%,#55bb95 11%,#2a5caa 11%,#2a5caa 56%, #4c87c6 56%, #4c87c6 74%, #add57f 73%, #add57f 100%);
	}

	&--inbottom {
		&::before {
			display: none;
		}
	}

	&__grp {
		display: table;
		table-layout: fixed;
		width: $wrapperwidth;
		margin: 10px auto;
	}
	&__item {
		display: table-cell;
		vertical-align: top;
		@include fs(13);
		@include mincho();
		position: relative;

		&:nth-child(2) {

		}
		&:nth-child(3) {
			@include fs(11);
		}

		&:first-child::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 26px;
			border-right: 1px solid $coloraccent;
			display: inline-block;
			vertical-align: top;
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 0;
			height: 26px;
			border-right: 1px solid $coloraccent;
			display: inline-block;
			vertical-align: top;
		}
	}
}

/* =======================
	footer
	======================================================= */
.call {
	text-align: center;
	padding: 62px 0 26px;

	@include media(sp) {
		@include spmargin();
	}
	img {
		@include media(sp) {
			width: 100%;
			height: auto;
		}
	}
}
.logo__grp {
	font-size: 0;
	text-align: center;

	@include media(sp) {
		@include spmargin();
	}
}
.logo__item {
	display: inline-block;
	vertical-align: top;
	margin: 0 29px;

	@include media(sp) {
		width: 32%;
		margin: 0 2% 0 0;

		&:last-child {
			margin-right: 0;
		}
	}




	img {
		width: 100%;
		height: auto;
		vertical-align: top;
	}
}
.copyright {
	@include fs(13);
	width: 100%;
	border-top: 1px solid #000;
	margin: 30px 0 0;
	height: 54px;
	line-height: 54px;
	box-sizing: border-box;
	text-align: center;

	@include media(sp) {
		@include fs(8);
		line-height: 1.5;
		padding: 10px 0;
		height: auto;
	}
}

/* =======================
	btn
	======================================================= */

.btn {
	display: table;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	color: #000;


	&--gray {
		background: #e6e6e6;
		color: #000;

		&:hover {
			background: #969696;
		}

	}
	&--mainnav {

		height: 26px;
		overflow: hidden;
		box-sizing: border-box;

		&:hover {
			background: $coloraccent;
			color: #fff;
		}

		.mainnav__item--tsutaya & {
			padding: 0 5px 0 ;

			.tsutayabtn {
				display: block;
				&--ov {
					display: none;
				}
			}
			&:hover {

				.tsutayabtn {
					display: none;
					&--ov {
						display: block;
					}
				}
			}
		}

	}
	&--subnav {
		width: 94px;
		height: 37px;
	}
	&--contact {
		width: 150px;
		background: #e20514;
		height: 37px;
		color: #fff;

		&:hover {
			background: #b21b1b;
		}
	}

	&--detail {
		width: 185px;
		height: 46px;
		background: $coloraccent;
		color: #fff;
		@include fs(14);
		@include btnarrow(4px, #fff);

		&:hover {
			background: $coloraccent;
			color: #fff;
		}
	}

	&__label {
		display: table-cell;
		height: inherit;
		vertical-align: middle;
	}
}

/* =======================
	Hero
	======================================================= */
.hero {
	border-bottom: solid 3px #e20514;
}


/* =======================
	home
	======================================================= */

.home__textarea {
	text-align: center;
	padding: 0 0 18px;

	border-bottom: 1px solid $color_border;

	img {
		vertical-align: top;

		@include media(sp) {
			width: 100%;
			height: auto;
		}
	}
}
.home__text__01 {
	margin: 32px 0 20px;
}
.home__text__02 {
	margin: 0 0  38px;
}
.home__text__03 {

}
.home__price {
	padding: 15px 0 62px;
	text-align: center;

	@include media(sp) {
		img {
			width: 100%;
			height: auto;
		}
	}
}

.home__info {
	@include clearfix();

}
.info__area {
	float: left;
	width: 661px;

	@include media(sp) {
		width: 100%;
		float: none;
	}
}
.info__title {
	@include mincho();
	@include fs(23);
	font-weight: normal;
	letter-spacing: 2px;
	line-height: 1;
	padding: 0 0 16px;
	border-bottom: solid 1px $color_border;
}
.info__body {
	@include mincho();
	padding: 28px 0 0 ;
	@include fs(13);

	@include media(sp) {
		padding: 15px 0 20px;
	}
}
.info__leadtext {
	@include fs(40);
	margin: 0 0 10px;
	line-height: 1;

	@include media(sp) {
		@include fs(20);
	}

	&__child {
		@include fs(26);
		@include media(sp) {
			@include fs(16);
		}
	}
}
.reserve__area {

}
.reserve__title {
	@include fs(14);
	font-weight: normal;
	line-height: 1;
	margin: 0 0 10px;
	&::before {
		content: '';
		width: 12px;
		height: 12px;
		background: $coloraccent;
		display: inline-block;
		vertical-align: middle;
		margin: 0 12px 0 0;
	}
}

.reserve__table {
	@include mincho();
	text-align: center;
	width: 100%;
	@include fs(14);
	border-top: 1px solid $color_border;
	border-right: 1px solid $color_border;
	tr {
		border-bottom: 1px solid $color_border;
	}
	th {
		font-weight: normal;
		line-height: 25px;
		border-left: 1px solid $color_border;
	}
	td {
		line-height: 25px;
		border-left: 1px solid $color_border;
	}
}
.annotation {
	@include fs(10);
}

.info__option {
	@include clearfix();
	height: 46px;
	box-sizing: border-box;
	border-left: 3px solid $coloraccent;

	@include media(sp) {
		margin: 0 0 10px;

		text-align: center;
	}
	&__text {
		float: left;
		display: inline-block;
		vertical-align: top;
		padding: 3px 0 3px 8px;

		@include media(sp) {
			text-align: left;
		}
	}
	&__btn {
		float: right;

		@include media(sp) {
			float: none;
			display: inline-block;
			text-align: center;
			margin: 10px 0 0;
		}
	}
}
.text--blue {
	color: $coloraccent;
}
.text--red {
	color: #e20514;
}

.bnr__area {
	float: right;
	padding: 40px 0 0 0;
}
.bnr__grp {

	@include media(sp) {
		font-size: 0;
	}
}
.bnr__item {
	display: block;
	margin: 0 0 20px;

	@include media(sp) {
		display: inline-block;
		vertical-align: top;
		width: 49.5%;

		margin: 0 1% 0 0;
		&:nth-child(2n+2) {
			margin-right: 0;
		}
		img {
			width: 100%;
			height: auto;
			vertical-align: top;
		}
	}

	img {
		vertical-align: top;
	}
}


/* =======================
	brand area
	======================================================= */
.brand__area {
	background: #f6f6f6;
	position: relative;
	padding: 80px 0 76px;

	@include media(sp) {
		padding: 40px 0;
	}

	&::before {
		position: absolute;
		top: 10px;
		left: 0;
		display: block;
		width: 100%;
		height: 3px;
		content: '';
		background:linear-gradient(90deg,#55bb95 0%,#55bb95 11%,#2a5caa 11%,#2a5caa 56%, #4c87c6 56%, #4c87c6 74%, #add57f 73%, #add57f 100%);
	}
	&::after {
		position: absolute;
		bottom: 10px;
		left: 0;
		display: block;
		width: 100%;
		height: 3px;
		content: '';
		background:linear-gradient(90deg,#55bb95 0%,#55bb95 11%,#2a5caa 11%,#2a5caa 56%, #4c87c6 56%, #4c87c6 74%, #add57f 73%, #add57f 100%);
	}
}
.brand__bnr__grp {
	font-size: 0;
	text-align: center;
}
.brand__bnr__item {
	display: inline-block;
	vertical-align: top;
	margin: 0 25px;

	@include media(sp) {
		margin: 0 0 10px;
		padding: 0 10px;
		box-sizing: border-box;
		width: 50%;

		img {
			width: 100%;
			height: auto;
		}
	}
}
/* =======================
	title
	======================================================= */


/* =======================
	page top Btn
	======================================================= */

/* =======================
	status
	======================================================= */
.fontgothic {
	@include gothic();
}

.widthfull {
	width: 100%;
	display: block;
	height: auto;
}

// hover for images. Use to a tag
.rollover {
	background: #000;
	display: block;

	&:hover {

		img {
			opacity: .8;
			transition: .3s ease-in-out;
		}
	}
	img {
		transition: .2s ease-in-out;
	}
}
