/* ===== scss settings =============================================
   Author:
   ==================================================================== */

// ----------------------------------------------------------------------
// color
// ----------------------------------------------------------------------

$colorbase: #f1f3f3; //
$colormain: #005bac; //
$colorsub: #aaabab; //
$coloraccent: #1b95cd; // sky blue

$color_border: #a8a4a5;
// ----------------------------------------------------------------------
// width
// ----------------------------------------------------------------------

$wrapperwidth: 1000px;

