@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);

body,
html {
	min-width: $wrapperwidth;

	@include media(sp) {
		min-width: 100%;
	}
}

/* =======================
	Initialize
	======================================================= */

ul {
	margin: 0;
	padding: 0;
}

p {
	margin: 0 0 1rem;
	line-height: 1.8;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	@include fs(14);
	margin: 0;
}

a {

	text-decoration:none;
	transition: 0.2s ease-in-out;

	&:hover {
		transition: 0.3s ease-in-out;
	}
}

//font-size 初期値を10pxに設定
html {
	font-size: 62.5%;
}

body {
	font-family: "Open Sans", Helvetica, Arial, "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "メイリオ" , Meiryo , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro",	"ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
	@include fs(15);
	font-weight: 500;
	line-height: 1.6;
	font-smoothing: antialiased;
	box-sizing: border-box;

	@include media(sp) {
		@include fs(12);
		-webkit-text-size-adjust: 100%;
		word-wrap: break-word;
	}
}

.sample {
	@include fs(12);
}

/* =======================
	layout
	======================================================= */

.wrapper {
	width: $wrapperwidth;
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;

	@include media(sp) {
		width: 100%;
		word-wrap: break-word;
		padding-right: 10px;
		padding-left: 10px;
	}

	@include mediaov(wide) {
		// width: 100%;
	}
}


/* =======================
	header
	======================================================= */

.header {

	&__top {
		padding: 16px 0;
	}

	&__logo {
		width: 125px;
		height: 40px;
		float: left;
	}
	&__cologo {
		width: 180px;
		height: 26px;
		float: right;
		padding: 3px 0 0 ;
	}

	&__subnav {
		font-size: 0;
		float: right;
		margin: 0 15px 0 0;

		&__item {
			display: inline-block;
			vertical-align: top;
			@include mincho();
			@include fs(12);
			margin-left: 5px;
		}

	}
}

.mainnav {
	max-width: 1200px;
	margin: 0 auto;
	font-weight: 500 !important;

	&__top::before {
		display: block;
		width: 100%;
		height: 3px;
		content: '';
		background:linear-gradient(90deg,#55bb95 0%,#55bb95 11%,#2a5caa 11%,#2a5caa 56%, #4c87c6 56%, #4c87c6 74%, #add57f 73%, #add57f 100%);
	}

	&__grp {
		display: table;
		table-layout: fixed;
		width: $wrapperwidth;
		margin: 10px auto;
	}
	&__item {
		display: table-cell;
		vertical-align: top;
		@include fs(13);
		@include mincho();

		&:nth-child(3) {
			@include fs(11);
		}

		border-left: 1px solid $colornavlight;

		&:last-child {
			border-right: 1px solid $colornavlight;
		}
	}

	&__img {
		content: url("../img/index_nav_1.png");
	}
}

/* =======================
	content
	======================================================= */

.content {
	padding: 32px 0;
	@include mincho();

	&__top {
		&__item img {
			width: 100%;
			display: block;
			margin: auto;
		}

		&__item {
			&:first-child {
				padding-bottom: 18px;
				border-bottom: 1px solid $colorgray;
				margin-bottom: 32px;
			}
		}
	}

	&__info {
		margin-top: 60px;

		&__left {
			width: 66%;
			padding-right: 78px;
			display: inline-block;
			margin-bottom: 365px;

			&__label {
				width: 100%;
				font-size: 23px;
				border-bottom: 1px solid $colorgray;
				margin-bottom: 25px;

				p {
					margin-bottom: 16px;
				}
			}

			&__msg__item {
				font-weight: 500;

				&:first-child {
					font-size: 34px;
				}

				&:nth-child(2) {
					font-size: 14px;
					margin-bottom: 13px;
				}

				&:nth-child(3) {
					font-size: 14px;
					margin-bottom: 8px;
				}

				&:nth-child(4) {
					margin-bottom: 6px;

					table {
						width: 100%;

						td {
							width: 25%;
							text-align: center;

							.date__grp {
								.day {
									display: inline-block;
									margin: 0 !important;
								}
							}
						}
					}

					table, td, th {
						border: 1px solid #a8a4a5;
					}
				}

				&:nth-child(5) {
					margin-bottom: 10px;

					.__legend__grp {
						display: inline-block !important;
					}
				}

				&:nth-child(6), &:nth-child(7) {
					font-size: 10px;
				}

				&:nth-child(7) {
					margin-bottom: 24px;
				}

				&:nth-child(8) {
					height: 46px;
					border-left: 3px solid $colornavlight;

					.__footer__grp {
						display: inline-block;

						&:first-child {
							padding-left: 9px;
						}

						&:last-child {
							float: right;
							width: 185px;
							cursor: pointer;

							a {
								height: 46px;
								padding: 13px 0;
							}
						}
					}
				}

				&__grp {
					.square-bullet {
						display: inline-block;
						background-color: $colornavlight;
						width: 12px;
						height: 12px;
						margin-right: 12px;
					}
				}
			}
		}

		&__right {
			display: inline-block;
			float: right;
			margin-top: 58px;

			&__item {
				&:first-child {
					margin-bottom: 22px;
				}
			}
		}
	}

	&__bottom {
		font-size: 9.5px;
		margin-bottom: 10px;
		font-family: YuGothic;
	}
}

.list-style-type-none {
	list-style-type: none;
}

.alert {
	color: red;
}

.info {
	color: $colornavlight;
}

.line--break {
	display: table;
}

/* =======================
	brand
	======================================================= */

.brand {
	background: #f6f6f6;
	position: relative;
	padding: 80px 0 76px;

	&::before {
		position: absolute;
		top: 10px;
		left: 0;
		display: block;
		width: 100%;
		height: 3px;
		content: '';
		background:linear-gradient(90deg,#55bb95 0%,#55bb95 11%,#2a5caa 11%,#2a5caa 56%, #4c87c6 56%, #4c87c6 74%, #add57f 73%, #add57f 100%);
	}

	&::after {
		position: absolute;
		bottom: 10px;
		left: 0;
		display: block;
		width: 100%;
		height: 3px;
		content: '';
		background:linear-gradient(90deg,#55bb95 0%,#55bb95 11%,#2a5caa 11%,#2a5caa 56%, #4c87c6 56%, #4c87c6 74%, #add57f 73%, #add57f 100%);
	}

	&__container {
		text-align: center;
	}

	&__item {
		display: inline-block;
		margin: 0 25px;
	}
}

/* =======================
	footer
	======================================================= */

.footer {
	display: table;
	margin: 0 auto;
	text-align: center;

	p {
		margin: 0 !important;
		line-height: 56px;
		font-size: 13px;
		font-family: "MS PGothic";
	}

	p::before {
		position: absolute;
		left: 0;
		display: block;
		width: 100%;
		height: 1px;
		content: '';
		background: #000000;
	}

	&__info__grp {
		margin-top: 56px;
		text-align: center;
	}

	.item__logo {
		display: inline-block;
		margin: 0 15px;
	}

	&__info__item:first-child {
		margin-bottom: 26px;
	}

	&__info__item:nth-child(2) {
		margin-bottom: 36px;
	}

	&__info__item:last-child {
		margin-bottom: 25px;
	}
}

/* =======================
	btn
	======================================================= */

.btn {
	display: table;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	color: #000;


	&--gray {
		background: #e6e6e6;
		color: #000;

		&:hover {
			background: #969696;
		}

	}
	&--mainnav {

		height: 26px;
		&:hover {
			background: $colornavlight;
			color: #fff;

			.mainnav {
				&__img {
					content: url("../img/index_nav_2.png");
				}
			}
		}
	}
	&--subnav {
		width: 94px;
		height: 37px;
	}
	&--contact {
		width: 150px;
		background: #e20514;
		height: 37px;
		color: #fff;

		&:hover {
			background: #b21b1b;
		}
	}

	&__label {
		display: table-cell;
		height: inherit;
		vertical-align: middle;
	}
}

/* =======================
	Hero
	======================================================= */
.hero {
	border-bottom: solid 3px #e20514;
}


/* =======================
	home
	======================================================= */



/* =======================
	title
	======================================================= */


/* =======================
	page top Btn
	======================================================= */

.widthfull {
	width: 100%;
	display: block;
	height: auto;
}
/* =======================
	status
	======================================================= */

