/* ===== mixin =============================================
   ==================================================================== */

// ----------------------------------------------------------------------
// media query
// ----------------------------------------------------------------------

// settting break point
$bp-minimum: 320px;
$bp-mini: 480px;
$bp-sp: 767px;
$bp-tablet: 1000px;
$bp-wide: 1366px;

@mixin media($media-width){
	@if $media-width == minimum {
		@media only screen and (max-width: $bp-minimum) {
			@content;
		}
	}
	@else if $media-width == mini {
		@media only screen and (max-width: $bp-mini) {
			@content;
		}
	}
	@else if $media-width == sp {
		@media only screen and (max-width: $bp-sp) {
			@content;
		}
	}
	@else if $media-width == tablet {
		@media only screen and (max-width: $bp-tablet) {
			@content;
		}
	}
	@else if $media-width == wide {
		@media only screen and (max-width: $bp-wide) {
			@content;
		}
	}
}

@mixin mediaov($media-width){
	@if $media-width == mini {
		@media only screen and (min-width: $bp-mini) {
			@content;
		}
	}
	@else if $media-width == sp {
		@media only screen and (min-width: $bp-sp) {
			@content;
		}
	}
	@else if $media-width == tablet {
		@media only screen and (min-width: $bp-tablet) {
			@content;
		}
	}
	@else if $media-width == wide {
		@media only screen and (min-width: $bp-wide) {
			@content;
		}
	}
}

// ----------------------------------------------------------------------
// clearfix
// ----------------------------------------------------------------------

@mixin clearfix {
  zoom: 1;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// ----------------------------------------------------------------------
// font-size
// ----------------------------------------------------------------------
@mixin fs($size: 10, $base: 10) {
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

//font-size スマホで縮小
@mixin calc_fs_sp($size: 10, $base: 10) {
	@include media(sp) {
	    font-size: $size * 0.8 + px;
	    font-size: ($size * 0.8 / $base) * 1rem;
	}
}

@mixin mincho {
	font-family: a-otf-ryumin-pr6n, "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , Garamond , "Times New Roman" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
}

@mixin fontpm() {
	font-feature-settings : "pkna";
	letter-spacing: 1.5px;
}

// adusting on smart phone margin
@mixin spmargin() {
	padding-right: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}