/* ===== scss settings =============================================
   Author:
   ==================================================================== */

// ----------------------------------------------------------------------
// color
// ----------------------------------------------------------------------

$colorbase: #f1f3f3; //
$colormain: #005bac; //
$colorsub: #aaabab; //
$coloraccent: #328a24; //
$colorgray: #a8a4a5 ;
$colornavlight: #1b95cd;

// ----------------------------------------------------------------------
// width
// ----------------------------------------------------------------------

$wrapperwidth: 1000px;

